@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Microsoft JhengHei', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.scrollBar::-webkit-scrollbar {
  width: 0.4rem;
  height: 0.6rem;
  border-radius: 10px;
  background: rgb(235, 234, 234);
}

.scrollBar::-webkit-scrollbar-thumb {
  width: 0.5rem;
  border-radius: 10px;
  background: #a5a4a4;
}
