.form-scrim{
    position: fixed;
    top:0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
}

.form-container{
    max-height: 85vh;
    min-width:35vw;
    max-width:35px;
    padding: 0.5em;
    position: fixed;
    background-color: rgba(109, 230, 193, 0.9);
    border: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 3em;
    overflow: auto;
    transition: all 250ms;
    visibility: hidden;
    opacity: 0;
    top: 50%;
}

.activate{
    visibility: visible;
    opacity: 1;
    top:8%
}

@media screen and (max-width: 610px){
    .form-container{
        max-width: 88%;
    }
}

.close-btn{
    position: absolute;
    right: 4%;
    top: 3%;
    font-size: 2em;
    cursor: pointer;
    user-select: none;
}

.close-btn:hover{
    color: rgb(237, 104, 38);
}

.form-title{
    font-weight: bold;
    margin: 0.5rem;
    font-size: 2em;
    text-align: center;
}

.form-InputBar{
    display: flex;
    margin: 0.5em;
    font-size: 2em;
}

.form-label{
    min-width:4em;
    font-size: 0.8em;
    font-weight: bold;
    margin-right: 0.25em;
    text-align-last: justify;
    display: inline-block;
}

.form-select{
    flex-grow: 1;
    border-radius: 1em;
    border: 0;
    text-align: center;
    font-size: 0.5em;
    background-color: rgb(209, 214, 213, 0.878);
}

.form-input{
    flex-grow: 1;
    min-width: 0;
    border-radius: 1em;
    text-align: center;
    font-size: 0.5em;
    border: 0;
    background-color: rgb(209, 214, 213, 0.878);
}

.form-input.note{
    height: 8rem;
    font-size: 0.8em;    
    text-align: left;
    resize: none;
}

.form-btn{
    text-align: center;
    user-select: none;
}

.form-btn button{
    width: 20%;
    margin-top:0.5em;
    border-radius: 1em;
    resize: none;
    overflow: auto;
}

.form-ErrorMessage{
    margin-top: -0.2em;
    margin-bottom: -0.2em;
    font-size: 1.2em;
    text-align: center;
    font-weight: bold;
    color: red;
}

.form-container::-webkit-scrollbar {
    display: none;
}


/*---------- btn ----------*/
.record-btn-container{
    position: fixed;
    bottom: 6vh;
    right: 5vw;
}

.record-btn{
    position: fixed;
    bottom: 8vh;
    right: 10vw;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    cursor: pointer;
    user-select: none;
    background-color: rgb(83, 111, 238);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    transition: all 250ms;
}

.record-btn:hover{
    filter: brightness(60%);
}

.up-right{
    background-color: rgb(241, 203, 33);
    transform: translate(1.5rem, -3.5rem);
    width:7vh;
    height: 7vh;
}

.left-up{
    background-color: rgb(240, 113, 10);
    width: 7vh;
    height: 7vh;
    transform: translate(-2rem, -2rem);
}

.left-down{
    background-color: rgb(214, 181, 155);
    width: 7vh;
    height: 7vh;
    transform: translate(-3rem, 1.75rem);
}