table, th, td{
    border-collapse: collapse;
}

.table-container{
    width:90vw;
    max-height: 60vh;
    overflow: auto;
}

.table-content{
    width: 100%;
}

.table-title{
    width: 100%;
    background-color: rgb(218, 238, 127);
    overflow: auto;
}

.table-data-cell{
    white-space: nowrap;/*這個東西可以讓她不會換行*/
    min-width: 3em;
    max-width: 20em;
    padding-right: 0.2em;
    border: 1px solid;
    overflow: auto;
}

.table-data-cell.number{
    text-align: right;
}

.table-recordCol-title::-webkit-scrollbar {
    display: none;
}

.table-data-cell::-webkit-scrollbar {
    display: none;
}


.table-btn{
    width: 2em;
    text-align: center;
    white-space: nowrap;
    border-radius: 1em;
}