.Detail-Inc-Exp-container{
    max-height: 100vh;
}

.Detail-Inc-Exp-content{
    height: 100vh;
    width: 100%;
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*----------FilterOption----------*/


.Detail-IE-filter-contanier{
    display: flex;
    height: 5%;
    width:90vw;
    border: 1px solid;
    margin-bottom: 2px;
    background-color: rgb(65, 235, 235);
}

.Detail-IE-filter-contanier > .filter-option-container{
    flex:1;
    margin:1px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filter-option-container > .filter-select{
    height:90%;
    width: 80%;
    border-radius: 10px;
    background-color: rgb(110, 171, 224);
    border:1px solid;
    font-size: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 610px){
    .Detail-IE-filter-contanier > .filter-option{
        font-size: 0.9em;
    }
}
